.brand{
    width: 20px;
    color: white;
}
/* .course {
    padding: 0% 10%;
    width: 100%;

} */
/* .courses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
} */
/* .card{
    width: 47%;
} */
/* courses  */

